<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <style type="text/css">
           #render {
                overflow: auto;
                text-align: center;
            }

            #render .node {
                cursor: pointer;
            }

            #render .node circle {
                fill: #fff;
                stroke: steelblue;
                stroke-width: 1.5px;
            }

            #render .node text {
                font: 12px "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            }

            #render .link {
                fill: none;
                stroke: #ccc;
                stroke-width: 1.5px;
            } 

            .option_list {
                position: fixed;
                right: 2%;
                top: 2%;
                border: 1px solid #d2d2d2;
                border-radius: 10px;
                padding: 10px;
            }

            .option_list div{
                margin-top: 5px;
                font: 14px "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
        <script src="/static/jquery.min.js"></script>
        <script src="/static/d3.js"></script>
        <script src="/static/semantic/semantic.min.js"></script>
        <script type="text/javascript">
            flag_array = [true, true, true, true, true, true, true, true, true, true, true, true, true, true];
            function wrap() {
                var constant_dy = 1;
                var text_element_list = d3.selectAll("text"); 
                text_element_list.each(function() {
                    var text = d3.select(this);  
                    var index = 0;
                    var line_list = text.attr("text").split(/\n/).reverse(), 
                        y = text.attr("y"), 
                        pre_x = text.attr("x")
                        dy = parseFloat(text.attr("dy")); 
                        tspan = text.text(null).append("tspan").attr("x", pre_x).attr("y",  y).attr("dy",  dy + "em"); 
                        while (line = line_list.pop()) {
                            if(!flag_array[index] && index>=1){
                                index += 1;
                                continue;
                            }
                            tspan.text(line); 
                            _dy = 1.3;
                            tspan = text.append("tspan").attr("x", pre_x).attr("y", y).attr("dy", _dy + "em"); 
                            index += 1; 
                        }
                    }
                ); 
            }

            function circle_color_func(d){
                return d._children||d.children ? "lightsteelblue" : "#fff";
            }

            window.onload = function(){
                $(".flag_button").click();
                $(".select_all").click();
                $(".flag_button").click(function(){
                    var index = $(".flag_button").index(this)+1;
                    flag_array[index] = !flag_array[index];
                    wrap();
                });
                $(".select_all").click(function(){
                    if(this.flag == undefined)
                        this.flag = true;
                    this.flag = !this.flag;
                    var flag_buttons = $(".flag_button");
                    for(var i=0;i<flag_buttons.length;i++){
                        if(flag_array[i+1] == this.flag)
                            continue;
                        $(flag_buttons[i]).click();
                    }
                });

                var margin = {
                  top: 20,
                  right: 120,
                  bottom: 20,
                  left: 120
                },

                max_width = window.innerWidth;
                max_height = window.innerHeight;
                x_interval = 100;
                y_interval = 180;

                width = max_width - margin.right - margin.left,
                height = max_height - margin.top - margin.bottom;

                var i = 0,
                  duration = 750,
                  root;

                var tree = d3.layout.tree().size([height, width]);
                var diagonal = d3.svg.diagonal()
                .projection(function (d) {
                  return [d.y, d.x];
                });

                var svg = d3.select("#render").append("svg")
                .attr("width", width + margin.right + margin.left)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                var node = {{ tree_data|tojson }}

                root = node;
                root.x0 = height / 2;
                root.y0 = 0;

                // root.children.forEach(collapse);
                update(root);

                function collapse(d) {
                  if (d.children) {
                    d._children = d.children;
                    d._children.forEach(collapse);
                    d.children = null;
                  }
                }

                function update(source) {
                  var newHeight = Math.max(tree.nodes(root).reverse().length * x_interval, height);

                  d3.select("#render svg")
                    .attr("width", width + margin.right + margin.left)
                    .attr("height", newHeight + margin.top + margin.bottom);

                  tree = d3.layout.tree().size([newHeight, width]);

                  var nodes = tree.nodes(root).reverse(),
                      links = tree.links(nodes);

                  nodes.forEach(function (d) {
                    d.y = d.depth * y_interval;
                  });

                  var node = svg.selectAll("g.node")
                  .data(nodes, function (d) {
                    return d.id || (d.id = ++i);
                  });

                  var nodeEnter = node.enter().append("g")
                  .attr("class", "node")
                  .attr("transform", function (d) {
                    return "translate(" + source.y0 + "," + source.x0 + ")";
                  })
                  .on("click", click);

                  nodeEnter.append("circle")
                    .attr("r", 1e-6)
                    .style("fill", circle_color_func);

                  nodeEnter.append("text")
                    .attr("x", function (d) {
                    return 15;
                  })
                    .attr("class", "node-text")
                    .attr("dy", "0em")
                    .attr("text-anchor", function (d) {
                    return "start";
                  })
                    .attr("text", function (d) {
                    return d.name;
                  })
                    .style("fill-opacity", 1e-6);

                  var nodeUpdate = node.transition()
                  .duration(duration)
                  .attr("transform", function (d) {
                    return "translate(" + d.y + "," + d.x + ")";
                  });

                  nodeUpdate.select("circle")
                    .attr("r", 10)
                    .style("fill", circle_color_func);

                  nodeUpdate.select("text")
                    .style("fill-opacity", 1);

                  var nodeExit = node.exit().transition()
                  .duration(duration)
                  .attr("transform", function (d) {
                    return "translate(" + source.y + "," + source.x + ")";
                  })
                  .remove();

                  nodeExit.select("circle")
                    .attr("r", 1e-6);

                  nodeExit.select("text")
                    .style("fill-opacity", 1e-6);

                  var link = svg.selectAll("path.link")
                  .data(links, function (d) {
                    return d.target.id;
                  });

                  link.enter().insert("path", "g")
                    .attr("class", "link")
                    .attr("d", function (d) {
                    var o = {
                      x: source.x0,
                      y: source.y0
                    };
                    return diagonal({
                      source: o,
                      target: o
                    });
                  });

                  link.transition()
                    .duration(duration)
                    .attr("d", diagonal);

                  link.exit().transition()
                    .duration(duration)
                    .attr("d", function (d) {
                    var o = {
                      x: source.x,
                      y: source.y
                    };
                    return diagonal({
                      source: o,
                      target: o
                    });
                  }).remove();

                  nodes.forEach(function (d) {
                    d.x0 = d.x;
                    d.y0 = d.y;
                  });
                  wrap();
                }

                function click(d) {
                    if (d.children) {
                        d._children = d.children; 
                        d.children = null; 
                    } else {
                        d.children = d._children; 
                        d._children = null; 
                    }
                    update(d); 
                } 
            };
        </script>
    </head>
    <body>
        <div class="option_list">
            <div class="ui checkbox">
                <input type="checkbox" name="convert_population" class="select_all">
                <label>全选</label>
            </div>
            <div></div>
            <div class="ui checkbox">
                <input type="checkbox" name="convert_population" class="flag_button">
                <label>转化人数</label>
            </div>
            <div></div>
            <div class="ui checkbox">
                <input type="checkbox" name="collection_population" class="flag_button">
                <label>集合人数</label>
            </div>
            <div></div>
            <div class="ui checkbox">
                <input type="checkbox" name="total_convert_population" class="flag_button">
                <label>总转化人数</label>
            </div>
            <div></div>
            <div class="ui checkbox">
                <input type="checkbox" name="total_population" class="flag_button">
                <label>总人数</label>
            </div>
            <div></div>
            <div class="ui checkbox">
                <input type="checkbox" name="convert_ratio" class="flag_button">
                <label>转化率</label>
            </div>
            <div></div>
            <div class="ui checkbox">
                <input type="checkbox" name="collection_proportion" class="flag_button">
                <label>人数占比</label>
            </div>
            <div></div>
            <div class="ui checkbox">
                <input type="checkbox" name="convert_proportion" class="flag_button">
                <label>转化占比</label>
            </div>
        </div>
        <div id="render"></div>
    </body>
</html>
